@use 'variables' as *;

html, body, app-root {
  height: 100%;
}

body {
  font-family: $font-family;
  background: $color-gray-100;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

button {
  font-family: inherit;
}

.main-container.fullscreen {
  max-width: 100%;
  padding: 0;
  margin: 0;
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  background: $color-white;
  height: 100%;
}

.main-container.fullscreen header,
.main-container.fullscreen .user-guide,
.main-container.fullscreen footer {
  display: none;
}